body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

#main-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(1.25);
}

/* top section */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 9;
    /*top: 0px; alr default*/
    border: 1px solid;
    flex: 0 0 auto;
    background-color:rgba(0, 0, 0, 0.75);
}

#ds-logo {
    width: 5.2em;
    height: 5.2em;
    object-fit: cover;
}

.top .right {
    margin-left: 2em;
}

.top .right img:hover {
    transform: scale(1.25);
    filter: drop-shadow(0px 0px 10px rgb(255, 76, 249)); /* shadow on image */
}

.top .left {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: space-between;
    margin-right: 3em;
}

.top .left a {
    text-decoration: none;
    font-family: "MontserratAlternates";
    font-size: 16px;
    color: #e3dcdc;
}

.top .left img {
    width: 4em;
    height: 4em;
    object-fit: cover;
    filter: brightness(1.25);
}

.top .left a:hover,
#sec-text a:hover,
#header-button:hover,
.card a:hover,
.fake-button:hover a,
.quote-text .from a:hover, 
.footer a:hover {
    text-shadow: 0 0 10px rgb(0, 255, 255), 0 0 15px rgb(255, 33, 248), 0px 0px 20px rgb(238, 132, 248);
    color: rgb(255, 255, 255);
    filter: brightness(1);
}


/* header section*/
.header {
    flex: 1;
    background: none;
    padding: 172px 196px 148px;
    font-family: "Macondo-Regular"; 
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 72px;
    border: 1px solid;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.5);
}

#header-image {
    margin-left: 96px;
    border-radius: 32px;
    object-fit: cover;
    flex: 1;
}

#header-image:hover {
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255)); 
}

.header-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* is the default stretch..? */
}

#main-text {
    font-size: 54px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 18px;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 0, 0), 0.5px 0.5px 20px rgb(255, 168, 76);
}

#sec-text {
    margin-bottom: 40px;
}

#sec-text span {
    text-align: justify;
    display: block;
    font-size: 18px;
    color: white;
}

#sec-text a {
    text-decoration: none;
    color: lightseagreen;
    filter: brightness(1.5);
}

#header-button {
    padding: 24px 72px;
    color: #ffff;
    background-image: linear-gradient(maroon, lightcoral);
    font-size: 18px;
    border-radius: 54px;
    font-family: "Macondo-Regular";
}

#header-button:hover {
    filter: brightness(1.25);
}



/* content section */
.content {
    padding: 36px 64px 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(114, 105, 239, 0.335), rgba(255, 192, 203, 0.887), rgb(255, 96, 96));
    font-family: "IndieFlower-Regular";
}

#content-header {
    font-size: 44px;
    font-weight: 900;
    color:#1f2937;
    margin-bottom: 32px;
}

.content .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* adjusts according to broswer */
    justify-content: space-between;
}

.content .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.card img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border-radius: 36px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hover-image { 
    filter: brightness(1.25);
    opacity: 0;
    position: absolute;
}

.hover-image:hover { 
    width: 296px; /* need to ensure width and height >= the picture its about to overlay. Behaviour can be changed with z-index */
    height: 256px;
    object-fit: cover;
    opacity: 1;

    /* 
    alternatively, 
    in .hover-image, apply <display: none;>
    then apply <display: inline;> here
    However, be careful that hover does not work on an image whose display is none
    so hover the parent instead: <.card:hover img { display: inline; }>

    Note: Hovering over any region in the parent will cause the shift.
    */
}

.nezuko {
    border: 4px solid #ff00c8;
}

#nezuko-hidden {
    box-shadow: 0px 0px 40px 20px #ff00d9; /* x-offset, y-offset, blur, spread, color */
}

.tanjiro {
    border: 4px solid #f22e2e;
}

#tanjiro-hidden {
    box-shadow: 0px 0px 40px 20px #ff0000;
}

.zenitsu {
    border: 4px solid #fff946;
}

#zenitsu-hidden {
    box-shadow: 0px 0px 40px 20px #fff700;
}

.inosuke {
    border: 4px solid #0bdbd1;
}

#inosuke-hidden {
    box-shadow: 0px 0px 40px 20px #0bdbd1;
}

.card a {
    text-decoration: none;
    font-size: 24px;
    color:white;
}


/* quote section */
.quote-section {
    background-image: url(images/rengoku.gif);
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;

    padding: 156px 200px 204px;
    flex: 1;
    font-family: "hakugyokurou";
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 10 rgb(0, 0, 0) 0 0 20 rgb(0, 0, 0);
    letter-spacing: 0.1em;
}

.quote {
    font-size: 34px;
}

.quote-text .from {
    font-size: 24px;
}

.quote-text .from a {
    text-decoration: none;
    color: white;
}

/* call to action section */
.call-to-action {
    flex: 1;
    padding: 36px 248px;
    background-image: linear-gradient(rgb(158, 37, 37),rgb(50, 11, 11));
    display: flex; /*need flex here so c2a can shrink and remain centered without overflowing*/
    justify-content: center;
    align-items: center;

    font-size: 18px;
    color: #ffffff;
    font-family: "YuseiMagic-Regular";
}

.c2a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(34, 81, 24, 0.672), rgba(3, 14, 1, 0.672));
    padding: 8px 88px;
    border-radius: 6px;
}

.c2a-header {
    font-size: 28px;
    margin-bottom: 14px;
}

.fake-button {
    background-image: linear-gradient(rgba(182, 223, 106, 0.5), rgba(33,41,17,0.5));
    padding: 12px 36px;
    border-radius: 4px;
    margin-left: 72px;
    border: 1px solid white;
}

.fake-button a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.fake-button:hover {
    transform: scale(1.5);
    filter: brightness(1.5);
    background-image: linear-gradient(rgb(158, 37, 37),rgb(50, 11, 11));
}


/* footer section */
.footer {
    background-color:rgb(7, 51, 65)
}

.footer div {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 8px 0px;
}

.footer a {
    font-size: 12px;
    text-decoration: none;
    color: white;
}


/* misc */
@font-face {
    font-family: "hakugyokurou";
    src: url(fonts/hakugyokurou.ttf);
}

@font-face {
    font-family: "MontserratAlternates";
    src: url(fonts/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: "Macondo-Regular";
    src: url(fonts/Macondo/Macondo-Regular.ttf);
}

@font-face {
    font-family: "IndieFlower-Regular";
    src: url(fonts/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: "YuseiMagic-Regular";
    src: url(fonts/Yusei_Magic/YuseiMagic-Regular.ttf);
}